<footer class="footer">
    <div class="footer__container">
    <section>
        <h2 class="footer__title">Sobre</h2>
        <p class="footer__about-text">Atuando desde 1995, a ProWay é considerado um dos maiores Centros de  treinamento em Tecnologia da Informação, Comunicação e Negócios do Brasil. Oferece centenas de cursos presenciais, Online (síncrono) e em EAD (assíncrono) para todos os níveis de usuários e empresas.</p>
    </section>
    <address>
        <h2 class="footer__title">Contato</h2>
        <ul>
            <li>
                <i class="fa-solid fa-envelope">
                </i> proway&#64;proway.com</li>
            <li>
                <i class="fa-solid fa-phone">
                </i> (47) 3322-3344</li>
            <li>
                <i class="fa-brands fa-whatsapp">
                </i> (47) 3322-3344</li>
        </ul>
    </address>
</div>
<section class="footer__copyright">
    &copy; Todos os direitos reservados
</section>
</footer>